.navpart1{
  display: flex;
  width: 200px;
  justify-content: space-around;
}
.navhead{
  display: flex;
  justify-content: space-between;
  height: 75px;
  border: solid black 3px;
}
.image{
  margin-top: 10px;
  margin-left: 10px;
  height: 62px;
}
.navitems
{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
.navitem
{
  text-decoration: none;
}
